@import "tailwindcss";

:root {
    --color-primary: #6B46C1;
    --color-primary-100: #E9D8FD;
    --color-secondary: #805AD5;
    --color-accent: #9F7AEA;
    --color-surface: #F8FAFC;
    --color-border: #E2E8F0;

    --color-text: #1A202C;
    --color-text-muted: #4A5568;

    --color-success: #38A169;
    --color-warning: #DD6B20;
    --color-danger: #E53E3E;

    --accent: #7C3AED;
    --accent-dark: #5B21B6;
    --black: 17, 24, 39;
    --gray: 107, 114, 128;
    --gray-light: 241, 245, 249;
    --gray-dark: 30, 41, 59;
    --gray-gradient: rgba(var(--gray-light), 50%), #fff;
    --box-shadow: 0 2px 6px rgba(var(--gray), 25%), 0 8px 24px rgba(var(--gray), 33%), 0 16px 32px rgba(var(--gray), 33%);
}

.dark {
    --color-primary: #9F7AEA;
    --color-primary-100: #2D3748;
    --color-secondary: #2DD4BF;
    --color-accent: #F6AD55;

    --color-bg: #0F172A;
    --color-surface: #1E293B;
    --color-border: #334155;

    --color-text: #F1F5F9;
    --color-text-muted: #94A3B8;

    --color-success: #34D399;
    --color-warning: #F59E0B;
    --color-danger: #F87171;
}
